<%= simple_nested_form_for @account, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :last_name, label: 'Фамилия'%>
  <%= f.input :first_name , label: 'Имя'%>
  <%= f.input :middle , label: 'Отчество'%>
  <%= f.input :dob , label: 'Дата рождения'  %>
  <%= f.input :balance , label: 'Баланс Кидландов'%>
    <%= f.simple_fields_for :cards  do |card_form| %>
  <div class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-6 col-md-offset-2">
      <%= card_form.input :number, label: 'Номер'     %>
      <%= card_form.input :card_type, label: 'Тип карты' %>
      <%= card_form.input :balance , label: 'Баланс' %>
      <%= card_form.input :active , label: 'Активный'  %>
      <%= card_form.link_to_remove "Удалить Карту", :class =>"btn  btn-xs btn-danger btn-trans" %>
  </div>
  </div>
  </div>
    <% end %>
  <p><%= f.link_to_add "Добавить Карту", :cards, :class =>"btn   btn-xs pull-right btn-primary btn-trans" %></p>
 
      
      
  <%= f.button :submit, "Сохранить", :class => 'btn-primary' %>
  <%= link_to "Отмена",
                accounts_path, :class => 'btn btn-default' %>
<% end %>
