<%- model_class = Account -%>
<div class="page-header">
  <h1> База Данных Кидсландии </h2>
</div>



<div class="row">
  <div class="col-md-9">
<div class="panel panel-default">
  <div class="panel-heading">Panel heading without title</div>
  <div class="panel-body">
    Panel content
 
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:id) %></th>
          <th> <%= sort_link(@q, :last_name, 'Фамилия', default_order: :desc) %></th>
          <th> <%= sort_link(@q, :first_name, 'Имя', default_order: :desc) %></th>
          <th> <%= sort_link(@q, :middle, 'Отчество', default_order: :desc) %></th>
          <th> <%= sort_link(@q, :dob, 'Возраст', default_order: :desc) %></th>
          <th> <%= sort_link(@q, :balance, 'Баналанс', default_order: :desc) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @accounts.each do |account| %>
          <tr>
            <td><%= link_to account.id, account_path(account) %></td>
            <td><%= account.last_name %></td>
            <td><%= account.first_name %></td>
            <td><%= account.middle %></td>
            <td><%= account.dob %></td>
            <td><%= account.balance %></td>
            <td>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_account_path(account), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          account_path(account),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-xs btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  
  </div>
</div>
  </div>

<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">Быстрый поиск</div>
    <div class="panel-body">
       <%= ransack_simple_form_for @q , :html => { :class => 'form-vertical ' } do |f| %>
        <%= f.input :last_name_or_first_name_or_middle_cont, label: 'Фамилия, Имя, Отчество' %>
        <%= f.button :submit, "Поиск", :class => 'btn-primary btn-block' %>
      <% end %>
    </div>
  </div>

  <hr/>

  <div class="panel panel-default">
    <div class="panel-heading">Детальный поиск</div>
    <div class="panel-body">
      <%= ransack_simple_form_for @q , :html => { :class => 'form-vertical ' } do |f| %>
    
        <%= f.input :last_name_cont, label: 'Фамилия' %>

        <%= f.input :first_name_cont , label: 'Имя'%>
        
        <%= f.input :middle_cont , label: 'Отчество'%>
        <%= f.button :submit, "Поиск", :class => 'btn-primary btn-block' %>
      <% end %>
    </div>
  </div>

  </div>




</div>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_account_path,
            :class => 'btn btn-primary' %>
